.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    margin: 20px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 150ms ease-out;
    cursor: pointer;
    color: rgb(51, 51, 51);
    font-family: 'Gilroy', sans-serif;
    min-width: 280px;
    user-select: none;
}

.card-container:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-container:active{
    transform: scale(1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.card-container img{
    width: 100%;
    object-fit: cover;
}

.card-container .img-container{
    padding: 30px;
}

.card-content{
    padding: 15px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
}

.price p{
    font-size: 1.5rem;
}